body{
    margin:0;
}
nav ul{
    margin: 0;
    position: 0;
}
nav li{
    display: inline-block;
    list-style: none;
    position: relative;
    padding: 15px;
}

nav a{
    text-decoration: none;
    color: white;

}

.drop-down li{
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: max-content;
    background-color: purple;
}

.drop-down li{
    display: block;
}
nav li:hover > .drop-down{
    display: block;
}
.drop-down a:hover{
    color: black;
}